body
{
	font-family: Calibri;
	color: #2b5096 ;
	background-color:#8d8d8d;
	margin-left: 150px;
	margin-right: 150px;
}

header, footer
{
	text-align: center;
	color: #2b5096;
	font-weight: bold;
}

h1, h2, h3
{
	color: #2b5096;
	font-family: Georgia;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:#ccc900;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}

.shrink
{
	font-size: .8em;
}

.center
{
	text-align: center;
}

.site-eval
{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 1.2em;
}

.site-eval a
{
	color:rgb(155, 85, 0);
}

.site-eval a:hover
{
	text-decoration:underline;
}

.site-eval li
{
padding-bottom: 10px; 
}

.button {
    background-color:#2b5096;
    text-align: center;
	color:rgb(160, 160, 160);
    width: 100px;
    height: 50px;
    font-size: 120%;
	margin-bottom: 25px;
}

.align-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calculator{
    margin: auto;
    border-radius: 5%;
    width: 30em;
    height: 40em;
}

#calc-display{
    background-color: black;
    margin:auto auto .1em auto;
    border-radius: 1em 1em 0 0 ;
    width: 30em;
    height: 5em;
}

#calc-buttons{
    margin: 0 auto auto auto;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: .1em;
    row-gap: .1em;
}

.calc-number{
    border-width: .01em;
	font-size: 1.5em;
}

.calc-function{
    border-width: .01em;
    background-color: #2b5096;
	font-size: 1.2em;
}

.calc-enter{
    border-width: .01em;
    background-color: #2b5096;
    grid-row: 5/-1;
    grid-column: 1/5;
    border-width: .01em;
	font-size: 1.2em;
}

#slideshow-image-list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

#slideshow-displayed-image {
    width: 10em;
    height: 10em;
}

.slideshow-image-nav{
	width: 5em;
	height: 5em;
}