<footer>
    <nav>
        <a href="index.html" aria-label="Home Page" >Home</a> ||
        <a href="about_us.html" aria-label="About Page">About Us</a> ||
        <a href="services.html" aria-label="Services Page">Services</a> ||
        <a href="schedule.html" aria-label="Scheduling Page">Schedule</a> ||
        <a href="contact.html" aria-label="Contact Page">Contact</a>
    </nav>
    <br />
    <p>Copyright 2021 © inTegRity Reporting, LLC | All Rights Reserved.</p>
    <p>Page built by MC Solutions</p>
</footer>