<footer>
    <nav>
        <a href="http://webpages.uncc.edu/mcostan4/" target="_blank">Charlotte.edu</a> &#9553;
        <a href="https://github.com/MCost02" target="_blank">Github</a> &#9553;
        <a href="https://MCost02.github.io/" target="_blank">Github.io</a> &#9553;
        <a href="https://MCost02.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a> &#9553;
        <a href="https://www.codecademy.com/" target="_blank">Codecademy</a> &#9553;
        <a href="https://www.freecodecamp.org/mcost02" target="_blank">freeCodeCamp</a> &#9553;
        <a href="https://jsfiddle.net/" target="_blank">JSFiddle</a> &#9553;
        <a href="https://www.linkedin.com/in/marx-costanzo-jr-01/" target="_blank">LinkedIn</a>
    </nav> 
    <br><br>
        <caption>Page built by MC Solutions</caption>
    <br><br>
    <a id = "htmlvalidator" href="http://validator.w3.org/check?uri=referer" 
       style = "text-decoration: none">
       <img src="images/button-valid-html5.gif" alt="Validate HTML" />
    </a>
    <a id = "cssvalidator" href="http://jigsaw.w3.org/css-validator/check/referer" 
       style = "text-decoration: none">
       <img src="images/button-valid-css.gif" alt="Validate CSS" />
    </a>

    <script>
        // this will make sure the validation links include the url of the current page
        // which seems to be necessary with github and some sites that don't send the referrer
        // headings

        var currentURL = window.location.href; // gets current URL

        // append current URL to the URL's for each validation service
        var htmlValidatorURL = "http://validator.w3.org/check?uri=" + currentURL;
        var cssValidatorURL = "http://jigsaw.w3.org/css-validator/validator?uri=" + currentURL;

        // assign the URL's to the anchor elements in the footer
        document.getElementById("htmlvalidator").setAttribute("href", htmlValidatorURL);
        document.getElementById("cssvalidator").setAttribute("href", cssValidatorURL);
    
        // comment this out once you're sure it's right
        //alert("Footer says here:\n" + htmlValidatorURL + "\n" + cssValidatorURL);
        
        </script>
</footer>