<header>
    <h1>Marx Costanzo >> ITIS 3135</h1>
</header>
<nav>
    <a href="index.html">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="contract.html">Contract</a> ||
    <a href="tables.html">Tables</a> ||
    <a href="form.html">Form</a> ||
    <a href="website_evaluations.html">Website Evaluations</a> ||
    <a href="stuff/b@D sIt3.htm">CRAPPY Page</a> ||
    <a href="brand-masterly-adaptive-cheetah.html">Brand Page</a>
    <a href="first-scripts.html">Simple Interaction</a> ||
    <a href="polygons.html">Polygons</a> ||
    <a href="calculator_try.html">Calculator Try</a> ||
    <a href="calculator_fcc.html">Calculator FCC</a>
    <br>
    <a href="arrays.html">Arrays</a> ||
    <a href="project_rand.html">Project Design</a> ||
    <a href="slideshow.html">Slideshow</a> ||
    <a href="brand/">Midterm</a> ||
    <a href="project/">Assignment 2</a> ||
    <a href="Costanzo-Activity10.html">Image Swap Application</a> ||
    <a href="Costanzo-Activity11.html">Accordion Widget</a> ||
    <a href="Costanzo-Activity12.html">Carousel Application</a> ||
    <a href="Costanzo-Activity13.html">XML to JSON</a> ||
    <a href="Costanzo-Activity14.html">Load Speaker Data</a>
    <br>
    <a href="Activity15/Costanzo-Activity15.html">Expanded JSON</a> ||
    <a href="Activity16/Costanzo-Activity16.html">Flickr Photo Gallery</a>
</nav>